# **How to Scrape Tables - Pandas.read_html()**
<p align="center">
<img width="322" height="106" src="https://raw.githubusercontent.com/wjudho/wjudho/main/images/html.png">
</p>

## **IMDB**

In [155]:
import pandas as pd

url = 'https://www.imdb.com/chart/top/'
df = pd.read_html(url, keep_default_na=False, header=0)[0]
# drop na_columns
dff = df.drop(df.columns[[0, 3, 4]], axis=1)
# remove rank that merge with title 
# dff['Rank & Title'] = df['Rank & Title'].str.replace('^\d.', '')
# dff['Rank & Title'] = df['Rank & Title'].str.split('^\d+', '', expand=True)
# dff.columns=['Title', 'IMDb Rating']
# dff.index.names = ['Rank']
# dff.index += 1
dff.to_csv(r'C:\Users\wis\Documents\GitHub\webscraping\readhtml(imdb).csv', index=False)
dff

                             Rank & Title  IMDb Rating
0    1.  The Shawshank Redemption  (1994)          9.2
1               2.  The Godfather  (1972)          9.2
2             3.  The Dark Knight  (2008)          9.0
3       4.  The Godfather Part II  (1974)          9.0
4                5.  12 Angry Men  (1957)          8.9
..                                    ...          ...
245                 246.  Aladdin  (1992)          8.0
246                  247.  Gandhi  (1982)          8.0
247                248.  Jai Bhim  (2021)          8.0
248                249.  The Help  (2011)          8.0
249    250.  Beauty and the Beast  (1991)          8.0

[250 rows x 2 columns]

## **Wikipedia**

In [156]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_Running_Man_episodes_(2022)'
# if there are tables you can specify which table using [int]
df2 = pd.read_html(url, header=0)[1]
df2.to_csv(r'C:\Users\wis\Documents\GitHub\webscraping\readhtml(wiki).csv', index=False)
df2.head()

,Ep.,Airdate(Filming date),Title,Guest(s),Teams,Teams.1,Mission,Results,Ref.
0,586[A][B],"January 2, 2022(December 13 & 26, 2021)",Renyin Year: Duplicate Loan Race(임인년－복채대출 레이스),No Guests,No Teams,No Teams,"The members must pay ₩ 7,000,000 fortune telle...","Mission FailedKim Jong-kook and Yang Se-chan, ...",[2]
1,587,"January 9, 2022(December 27, 2021)",The Seniority War of The Youngest Members(막내들의...,No Guests,Musical Chairs with No HierarchyJeon So-min Te...,The Youngest's Winning GameJeon So-min Team(Je...,The Youngest Member's MissionHave a lesser amo...,Yang Se-chan WinsYoo Jae-suk and Kim Jong-kook...,[3]
2,588,"January 16, 2022(January 10, 2022)","""Height"" Point('키'포인트)",Irene KimJoo Woo-jaeLee Hyun-yi [ko]Song Hae-n...,"Tall Team(Yoo Jae-suk, Kim Jong-kook, Irene Ki...","Tall Team(Yoo Jae-suk, Kim Jong-kook, Irene Ki...",Being the tallest team at the end of the race ...,Tall Team WinsThe members of Tall Team each re...,[4]
3,589,"January 23, 2022(January 10 & 17 2022)","""Height"" Point('키'포인트)",Irene KimJoo Woo-jaeLee Hyun-yi [ko]Song Hae-n...,"Tall Team(Yoo Jae-suk, Kim Jong-kook, Irene Ki...","Tall Team(Yoo Jae-suk, Kim Jong-kook, Irene Ki...",Being the tallest team at the end of the race ...,Tall Team WinsThe members of Tall Team each re...,[4]
4,589,"January 23, 2022(January 10 & 17 2022)",Renyin Year's Tangun Myth(임인년 단군신화),Bae Seul-kiEunhyuk (Super Junior)Hong Soo-ah,"Mission Team(Yoo Jae-suk, Haha, Kim Jong-kook,...","Mission Team(Yoo Jae-suk, Haha, Kim Jong-kook,...",Be the Top 3 with the most garlic cloves to re...,"Poachers and Bae Seul-ki WinsJi Suk-jin, Bae S...",[5]

## **Mangasaki**

In [157]:
import pandas as pd

url = 'https://www.mangasaki.com/directory?2022-07-14'
df3 = pd.read_html(url, header=0)[0]
df3 = df3.drop(df3.columns[[1]], axis=1)
df3.columns=['Manga Title', 'Summary']
df3.to_csv(r'C:\Users\wis\Documents\GitHub\webscraping\readhtml(mangasaki).csv', index=False)
df3.head()

,Manga Title,Summary
0,Mage Again,"Rangderkessel, the greatest mage of the land, ..."
1,Ex and Ash,"X, a genius thief, and Ash, a boy with a myste..."
2,The Breaker 3: Eternal Force,"Legendary Modern Murim Urban Action!! Ha Jae, ..."
3,Ayashimon,"Maruo, a boy starved for battle, meets Urara, ..."
4,Dandadan,"Ken Takakura, a boy who is an occult fanatic w..."

## **Fandom**

In [158]:
import pandas as pd

url = 'https://onepiece.fandom.com/wiki/Straw_Hat_Pirates'
df4 = pd.read_html(url)[8]
df4 = df4.dropna()
df4.to_csv(r'C:\Users\wis\Documents\GitHub\webscraping\readhtml(fandom).csv', index=False)
df4

,Name,Profession,Capabilities,Epithet
0,Monkey D. Luffy,Captain,Fighting Genius Tactical Ingenuity Free-Fighti...,"""Straw Hat"" (麦わらMugiwara?)"
2,Roronoa Zoro,Combatant,Strong Blade swordsman Three Sword Style Maste...,"""Pirate Hunter"" (海賊狩りKaizoku Gari?)"
4,Nami,Navigator,Bo Staff Fighter Cartographer Skilled Navigato...,"""Cat Burglar"" (泥棒猫Dorobō Neko?)"
6,Usopp,Sniper,Marksmanship Exceptional Eyesight Cannoneer Cr...,"""Sogeking"" (そげキングSogekingu?)""God"" (ゴッドGoddo?)"
8,Sanji,Cook,Black Leg Style Kenbunshoku Haki Busoshoku Hak...,"""Black Leg"" (黒脚Kuro Ashi?)"
10,Tony Tony Chopper,Doctor,Advanced Medical Skills Animal Speech Comprehe...,"""Cotton Candy Lover"" (わたあめ大好きWataame Daisuki?)"
12,Nico Robin,Archaeologist,Assassination Expert Clandestine Operative Fis...,"""Devil Child"" (悪魔の子Akuma no Ko?)"
14,Franky,Shipwright,Boxing Cyborg Modifications Highly Skilled Eng...,"""Cyborg"" (鉄人Saibōgu?)""Iron Man"" (鉄人Tetsujin?)"
16,Brook,Musician,Gentle Blade swordsman Fencing Style High-Clas...,"""Humming"" (鼻唄Hanauta?)""Soul-King"" (ソウルキングSouru..."
18,Jinbe,Helmsman,Communication with Marine Life Fish-Man Karate...,"""Knight of the Sea"" (海侠Kaikyō?)"

## **w3School**

In [160]:
import pandas as pd

url = 'https://www.w3schools.com/python/python_regex.asp'
df5 = pd.read_html(url)[2]
df5.to_csv(r'C:\Users\wis\Documents\GitHub\webscraping\readhtml(w3).csv', index=False)
df5.head()

,Character,Description,Example,Try it
0,\A,Returns a match if the specified characters ar...,"""\AThe""",Try it »
1,\b,Returns a match where the specified characters...,"r""\bain""r""ain\b""",Try it » Try it »
2,\B,Returns a match where the specified characters...,"r""\Bain""r""ain\B""",Try it » Try it »
3,\d,Returns a match where the string contains digi...,"""\d""",Try it »
4,\D,Returns a match where the string DOES NOT cont...,"""\D""",Try it »

## **Coinmarketcap**

In [2]:
import pandas as pd

url = 'https://coinmarketcap.com/'
df6 = pd.read_html(url)[0]
df6.to_csv(r'C:\Users\wis\Documents\GitHub\webscraping\readhtml(cmc).csv', index=False)
df6.head()

,Unnamed: 0,#,Name,Price,1h %,24h %,7d %,Market Cap,Volume(24h),Circulating Supply,Last 7 Days,Unnamed: 11
0,NaN,1.0,Bitcoin1BTC,"$20,408.10",2.36%,4.91%,2.30%,"$389.66B$389,661,132,299","$28,472,200,8511,395,142 BTC","19,093,450 BTC",NaN,NaN
1,NaN,2.0,Ethereum2ETH,"$1,142.54",4.05%,7.80%,6.21%,"$138.87B$138,868,318,134","$14,524,217,78512,712,256 ETH","121,543,869 ETH",NaN,NaN
2,NaN,3.0,Tether3USDT,$0.9994,0.01%,0.01%,0.02%,"$65.89B$65,891,833,090","$45,503,289,41045,530,288,822 USDT","65,930,930,060 USDT",NaN,NaN
3,NaN,4.0,USD Coin4USDC,$0.9999,0.02%,0.02%,0.02%,"$55.33B$55,327,909,601","$5,104,251,4445,104,527,271 USDC","55,330,899,449 USDC",NaN,NaN
4,NaN,5.0,BNB5BNB,$236.60,2.76%,6.26%,1.71%,"$38.63B$38,630,929,764","$1,396,472,5085,902,312 BNB","163,276,975 BNB",NaN,NaN